h1 Forgot Password
  form(method='POST', action='/forgot')
    input(type='text', name='email')
    br
    input(type='submit', name='resetPass', value='resetPass')
h1 Reset Password
    form(method='POST', action='/reset')
      input(type='text', name='link')
      br
      |     
      input(type='password', name='pass')
      br
      | 
      input(type='submit', name='confirm', value='Confirm')


      